.custom-bg-color{
    background-color: #80b3ff ;
}
.custom-table-td-width{
    width: 40%
}
 
.custom-header-font{
    font-size: 180%;
    font-weight: 900;
}
.custom-button{
    background-color: transparent;
    border: 2px solid black;
    width: 250px;
    height: 45px;
    border-radius: 8px;
    color: #444040;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .custom-button:hover {
    background-color: #3385ff !important;
    background: none;
}